# SPDX-FileCopyrightText: 2025 Sofie <sofie+git@mailbox.org>
#
# SPDX-License-Identifier: 0BSD

# Secrets
*.pub
*.key
*.decrypted~*.yaml
# Terraform/OpenTofu
.terraform/
*.tfstate*
# Misc.
.private/
.secure/
.task/
.venv/
.DS_Store
Thumbs.db
