# SPDX-FileCopyrightText: SoupGlasses
# SPDX-License-Identifier: CC0-1.0

# Secrets
*.pub
*.key
*.decrypted~*.yaml
# Template config files
/cluster.yaml
/nodes.yaml
# Kubernetes
kubeconfig
talosconfig
# Misc.
.private/
.task/
.venv/
.DS_Store
Thumbs.db
